/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-top: 150px;
  flex-wrap: wrap;
}

.card-conatiner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-image: linear-gradient(to top, #bfe9ff, #ff6e7f);
  height: 60vh;
  width: 60%;
  background-size: cover;
}
.heading {
  color: #1e293b;
  font-size: 70px;
  font-family: 'Roboto';
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
}
.para-Text {
  color: #334155;
  font-size: 40px;
  font-family: 'Roboto';
  padding: 10px;
  text-align: center;
}
.btn-content {
  color: #1e293b;
  font-size: 18px;
  background-color: #ffffff;
  width: 180px;
  height: 50px;
  border-radius: 10px;
}

.discription-content {
  color: #1e293b;
  font-size: 15px;
  font-family: 'Roboto';
}

@media screen and (max-width: 576px) {
  .heading {
    font-size: 15px;
  }
  .para-Text {
    font-size: 10px;
  }
  .btn-content {
    font-size: 10px;
    width: 50%;
    height: 10%;
  }
  .discription-content {
    font-size: 8px;
    padding: 5px;
  }
}
